/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// make non-headings slightly lighter
.post-content p, .post-content li {
   font-size: 21px;
   color: #383838;
}

a.post-link {
   color: #5b81ac;
}

a {
   color: #5b81ac;
}

h1 {
   color: #253649;
}

h2 {
   color: #364f6b;
}

.category-tags-link {
   color: #c0392b
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
// @import "minima/fastpages-dracula-highlight"; 
