/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// make non-headings slightly lighter
.post-content p, .post-content li {
   font-size: 21px;
   color: #383838;
}

h1 {
   color: #2c3e50;
}

.post-link a {
   color: #2980b9;
}

.toc-entry .toc-h1 a {
   color: #34495e;
}

.toc-entry .toc-h2 a {
   color: #34495e;
}

.toc-entry .toc-h3 a {
   color: #34495e;
}


// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
